* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #fafafa;
    color: #333;
}

/* NAVBAR */
.navbar {
    background: #242424;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.foto-perfil {
    width: 150px;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    background: #333;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* SECCIONES */
.section {
    padding: 60px 20px;
    text-align: center;
}

.proyectos-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* FOOTER */
footer {
    background: #242424;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
